This file is a part of Rapstar, a Zion Choi property.
See README.md for full details.

This project, as licensed under Zion Choi, requires further dependencies. For further setup details, please refer to README.md for full details.

The required dependencies for the virtual environment, under the folder venv, is outlined below:

Package 		Version

pandas 			1.3.5
matplotlib		3.5.1
pandas-datareader	0.10.0
yahoo-fin 		0.8.9.1
yfinance		0.1.67